[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
async-timeout = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
exceptiongroup = "*"
idna = "*"
iniconfig = "*"
isodate = "*"
itsdangerous = "*"
jinja2 = "*"
jmespath = "*"
markupsafe = "*"
mypy-extensions = "*"
packaging = "*"
pluggy = "*"
pycparser = "*"
python-dateutil = "*"
s3transfer = "*"
six = "*"
sortedcontainers = "*"
tomli = "*"
types-cffi = "*"
types-pyopenssl = "*"
types-setuptools = "*"
typing-extensions = "*"
urllib3 = "*"
werkzeug = "*"
zope-event = "*"
zope-interface = "*"
coverage = {extras = ["toml"], version = "*"}
flask = "*"
flask-script = "*"
blinker = "*"
botocore = "*"
boto3 = "*"
pynamodb = "*"
cryptography = "*"
cffi = "*"
flask-session = "*"
redis = "*"
types-redis = "*"
flask-sslify = "*"
authomatic = "*"
python3-saml = "*"
lxml = "*"
xmlsec = "*"
requests = "*"
ndg-httpsclient = "*"
pyasn1 = "*"
pyopenssl = "*"
guard = "*"
pyyaml = "*"
types-pyyaml = "*"
gunicorn = "*"
gevent = "*"
greenlet = "*"
statsd = "*"
kmsauth = "*"
pydantic = "*"
lru-dict = "*"
python-json-logger = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-lazy-fixture = "*"
pytest-env = "*"
pytest-gevent = "*"
pytz = "*"
types-pytz = "*"
pyjwt = "*"
jwcrypto = "*"
cerberus = "*"
cachetools = "*"
mypy = "*"
fakeredis = "*"

[dev-packages]

[requires]
python_version = "3.10"
